*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  
}

#zonejeu {
  margin: auto;
  height: 720px;
  width: 720px;
  border: 25px solid #01080e;
  background: #3390e7;
  position: relative;
}

#joueur {
  z-index: 100;
  height: 70px;
  width: 70px;
  background: transparent url('../img/bird.png') no-repeat center bottom;
  position: absolute;
  top: 350px;
  left: 350px;
}

.bomb {
  z-index: 3;
  height: 70px;
  width: 70px;
  background: transparent url('../img/70.png') no-repeat center bottom;
  position: absolute;
}

.explosion {
  z-index: 4;
  width: 150px;
  height: 150px;
  position: absolute;
  background: #cd6133;
}

.ennemi{
  z-index: 100;
  height: 50px;
  width: 50px;
  background: black;
  text-align: center;
  border: solid 1px;
  position:  absolute;
}
